* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #1C1E53;
    --secondary-color: #FCD980;
    --light-color: #FFFFFF;
    --light-secondary-color: #EEF4FA;
}

.page-padding {
    padding-inline: 4rem;
}

ul {
    list-style-type: none;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--light-color);
    padding-block: 1.5rem;
    background-color: var(--primary-color);
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.default-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.9rem 3rem;
    border-radius: 6px;
    width: max-content;
}

.default-button:hover {
    background-color: var(--light-secondary-color);
}

.outline-button {
    background-color: transparent;
    border: 1px solid var(--light-color);
    color: var(--light-color);
    padding: 0.9rem 3rem;
    border-radius: 6px;
    width: max-content;
}

.outline-button:hover {
    background-color: var(--light-color);
    color: var(--primary-color);
}

#hero {
    background-color: var(--primary-color);
    height: 70vh;
    display: flex;
    align-items: center;
}

#hero .hero-container {
    color: var(--light-color);
    display: flex;
    justify-content: space-between;
}

#hero .hero-container .default-button {
    margin-right: 1rem;
}


#hero .hero-container h1 {
    font-size: 3rem;
    font-weight: 500;
}

.hero-container > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#hero .hero-container .hero-content {
    display: flex;
    flex-direction: column;
    width: max-content;
}

#hero .hero-container div .buttons {
    gap: 2rem;
}

main .statistics {
    display: flex;
    background-color: var(--light-secondary-color);
    justify-content: center;
    padding-block: 3rem;
    font-size: 2rem;
}

.statistics div {
    flex: 1;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    #hero .hero-container h1 {
        font-size: 2rem;
    }

    #hero .hero-container img {
        width: 50%;
    }

}

@media screen and (max-width: 960px) {
    header {
        padding-inline: 2rem;
    }

    header nav ul {
        display: none;
    }

    .page-padding {
        padding-inline: 1rem;
    }

    #hero {
        height: auto;
    }

    .outline-button {
        padding: 0.6rem 1rem;
    }
    
    .default-button {
        padding: 0.6rem 1rem;
    }

    #hero .hero-container div p {
        font-size: 12px;
        line-height: 5px;
    }

    .page-padding {
        padding-inline: 2rem;
    }

    #hero .hero-container {
        flex-direction: column;
        gap: 2rem;
    }

    #hero .hero-container img {
        width: 100%;
    }

    #hero .hero-container h1 {
        font-size: 1.5rem;
    }

    .statistics {
        flex-direction: column;
        gap: 2rem;
    }

    .statistics div {
        width: 100%;
    }
    
}





